body {
  position: relative;
/* width: 2386px;
height: 1072px; */
width: 100%;
height: 100%;
background: #FFFFFF;
}

#__next{
  display: flex;
  justify-content: flex-end;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  body{
    margin-left: 0%;
  }
}