.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .backCard {
    position: relative;
    height: 800px;
    width: 1595px;
    left: 15.03%;
    top: 45px;
    background: #5022ed;
    transform: matrix(1, -0.04, -0.04, -1, 0, 0);
    border-radius: 40px;
  }
  
  .p1{
    position: relative;
    width: 625px;
    height: 198px;
    left: 517px;
    top: -580px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    color: #16dfb5;
  }

  .whitetitle {
    color: white;
  }
  
  .p2 {
    position: absolute;
    width: 615px;
    height: 188px;
    left: 539px;
    top: 486px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;
    color: #ffffff;
  }
  
  .p3 {
    position: absolute;
    width: 114px;
    height: 23px;
    left: 1405px;
    top: 496px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
  }
  
  .li {
    position: absolute;
    width: 77px;
    height: 21px;
    left: 539px;
    top: 716px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #16dfb5;
  }
  
  .card2 {
    box-sizing: border-box;
    position: absolute;
    width: 466px;
    height: 510.56px;
    left: 1304px;
    top: 221.93px;
    background: #e9f6ff;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    transform: rotate(-5.53deg);
  }
  
  .card1 {
    box-sizing: border-box;
    position: absolute;
    width: 465px;
    height: 528px;
    left: 1378px;
    top: 240px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
  }
  
  .pay1 {
    box-sizing: border-box;
    position: absolute;
    width: 412px;
    height: 48px;
    left: 1405px;
    top: 347px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    text-align: left;
    display: inline-flex;
  }
  
  .pay2 {
    box-sizing: border-box;
    position: absolute;
    width: 412px;
    height: 48px;
    left: 1405px;
    top: 420px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    display: inline-flex;
  }
  
  .transfer {
    box-sizing: border-box;
    position: absolute;
    width: 412px;
    height: 55px;
    left: 1405px;
    top: 556px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
  }
  
  .button {
    box-sizing: border-box;
    position: absolute;
    width: 415px;
    height: 48px;
    left: 1405px;
    top: 692px;
    background: #16dfb5;
    border: 1px solid #16dfb5;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 5px 50px 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
  }
  
  .button:hover {
    background: #12b390;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 461px){
    .backCard {
      position: relative;
      height: 3600px;
      width: 2000px;
      left: -7%;
      top: 30px;
      background: #5022ed;
      transform: matrix(1, -0.04, -0.04, -1, 0, 0);
      border-radius: 40px;
    }

    .p1{
      position: relative;
      width: 625px;
      height: 198px;
      left: 517px;
      top: -2480px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 66px;
      color: #16dfb5;
    }
  }