.header {
  position: relative;
  align-items: baseline;
  width: 100%;
  height: 6.3rem;
  background: #ffffff;
  box-shadow: 0px 15px 10px rgba(29, 0, 62, 0.07);
  border-radius: 0px;
  z-index: 1;
}

.navBox {
  display: flex;
  max-width: 100%;
  height: 100%;
}

.logo {
  position: relative;
  width: 28%;
  height: 35px;
  left: 45px;
  top: 40px;
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.li1 {
  position: relative;
  width: 100%;
  height: 21px;
  left: 170px;
  top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #7f88a0;
}

.li2 {
  position: relative;
  width: 100%;
  height: 21px;
  left: 300px;
  top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #7f88a0;
}

.li3 {
  position: relative;
  width: 100%;
  height: 21px;
  left: 430px;
  top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #7f88a0;
}

.li4 {
  position: relative;
  width: 100%;
  height: 32px;
  left: 1100px;
  top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #7f88a0;
}

.btn {
  position: relative;
  width: 145px;
  height: 50px;
  left: 1650px;
  top: -29px;
  background: #16dfb5;
  border: #16dfb5;
  border-radius: 4px 50px 50px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}

.btn:hover {
  background: #03b58f;
  font-size: 18px;
}
.li1:hover {
  color: #03b58f;
}
.li2:hover {
  color: #03b58f;
}
.li3:hover {
  color: #03b58f;
}
.li4:hover {
  color: #03b58f;
}
.products{
   font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #7f88a0;
}
.resources {
   font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #7f88a0;
}
.buy {
   font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #7f88a0;
}
.login{
   font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #7f88a0;
}
.signup {
  background: #16dfb5;
  border: #16dfb5;
  border-radius: 4px 50px 50px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  width: 100px;
  height: 30px;
}


@media screen and (max-width: 800px) {
  
  .li1 {
    display: none;
  }
  .li2 {
    display: none;
  }
  .li3 {
    display: none;
  }
  .li4 {
    display: none;
  }
  .logo {
    position: relative;
    width: 50%;
    height: 35px;
    left: -20%;
    top: 10px;
    align-items: center;
    cursor: pointer;
  }


}
